<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css', _external=True) }}">
    {% block head %}
    <title>Home</title>
    {% endblock %}
</head>
<body>
<!-- Page Header -->
<header>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('cat', name='Recommendation') }}">Recommendation</a></li>
            <li><a href="{{ url_for('cat', name='Society') }}">Society</a></li>
            <li><a href="{{ url_for('cat', name='Local') }}">Local</a></li>
            <li><a href="{{ url_for('cat', name='Picture') }}">Picture</a></li>
        </ul>
    </nav>
</header>
<!-- /Page Header -->
<!-- Content of News -->
<article>
   {% block content %}
  <!-- Content Block -->
  {% endblock  %}
</article>
<!-- /News content Block -->
{% block extrajs %}
<!-- Other scripts -->
{% endblock  %}
</body>
</html>